web/WEB-INF/wsdl/SearchWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://webservice.projectavia.kz/" name="SearchWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservice.projectavia.kz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.projectavia.kz/" schemaLocation="SearchWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="checkReservationByCode">
    <part name="parameters" element="tns:checkReservationByCode"/>
  </message>
  <message name="checkReservationByCodeResponse">
    <part name="parameters" element="tns:checkReservationByCodeResponse"/>
  </message>
  <message name="searchFlight">
    <part name="parameters" element="tns:searchFlight"/>
  </message>
  <message name="searchFlightResponse">
    <part name="parameters" element="tns:searchFlightResponse"/>
  </message>
  <message name="getAllCities">
    <part name="parameters" element="tns:getAllCities"/>
  </message>
  <message name="getAllCitiesResponse">
    <part name="parameters" element="tns:getAllCitiesResponse"/>
  </message>
  <message name="buyTicket">
    <part name="parameters" element="tns:buyTicket"/>
  </message>
  <message name="buyTicketResponse">
    <part name="parameters" element="tns:buyTicketResponse"/>
  </message>
  <portType name="SearchWS">
    <operation name="checkReservationByCode">
      <input wsam:Action="http://webservice.projectavia.kz/SearchWS/checkReservationByCodeRequest" message="tns:checkReservationByCode"/>
      <output wsam:Action="http://webservice.projectavia.kz/SearchWS/checkReservationByCodeResponse" message="tns:checkReservationByCodeResponse"/>
    </operation>
    <operation name="searchFlight">
      <input wsam:Action="http://webservice.projectavia.kz/SearchWS/searchFlightRequest" message="tns:searchFlight"/>
      <output wsam:Action="http://webservice.projectavia.kz/SearchWS/searchFlightResponse" message="tns:searchFlightResponse"/>
    </operation>
    <operation name="getAllCities">
      <input wsam:Action="http://webservice.projectavia.kz/SearchWS/getAllCitiesRequest" message="tns:getAllCities"/>
      <output wsam:Action="http://webservice.projectavia.kz/SearchWS/getAllCitiesResponse" message="tns:getAllCitiesResponse"/>
    </operation>
    <operation name="buyTicket">
      <input wsam:Action="http://webservice.projectavia.kz/SearchWS/buyTicketRequest" message="tns:buyTicket"/>
      <output wsam:Action="http://webservice.projectavia.kz/SearchWS/buyTicketResponse" message="tns:buyTicketResponse"/>
    </operation>
  </portType>
  <binding name="SearchWSPortBinding" type="tns:SearchWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="checkReservationByCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="searchFlight">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCities">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buyTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SearchWS">
    <port name="SearchWSPort" binding="tns:SearchWSPortBinding">
        <soap:address location="http://localhost:8080/ProjectAvia/SearchWS"/> 
    </port>
  </service>
</definitions>

