web/WEB-INF/wsit-kz.projectavia.webservice.SearchWS.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SearchWS" targetNamespace="http://webservice.projectavia.kz/" xmlns:tns="http://webservice.projectavia.kz/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="searchFlight"/>
    <message name="searchFlightResponse"/>
    <message name="getAllCities"/>
    <message name="getAllCitiesResponse"/>
    <message name="buyTicket"/>
    <message name="buyTicketResponse"/>
    <message name="checkReservationByCode"/>
    <message name="checkReservationByCodeResponse"/>
    <portType name="SearchWS">
        <operation name="searchFlight">
            <input message="tns:searchFlight"/>
            <output message="tns:searchFlightResponse"/>
        </operation>
        <operation name="getAllCities">
            <input message="tns:getAllCities"/>
            <output message="tns:getAllCitiesResponse"/>
        </operation>
        <operation name="buyTicket">
            <input message="tns:buyTicket"/>
            <output message="tns:buyTicketResponse"/>
        </operation>
        <operation name="checkReservationByCode">
            <input message="tns:checkReservationByCode"/>
            <output message="tns:checkReservationByCodeResponse"/>
        </operation>
    </portType>
    <binding name="SearchWSPortBinding" type="tns:SearchWS">
        <operation name="searchFlight">
            <input></input>
            <output></output>
        </operation>
        <operation name="getAllCities">
            <input></input>
            <output></output>
        </operation>
        <operation name="buyTicket">
            <input></input>
            <output></output>
        </operation>
        <operation name="checkReservationByCode">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="SearchWS">
        <port name="SearchWSPort" binding="tns:SearchWSPortBinding"/>
    </service>
</definitions>
